app:
  # the name of your website - should also be the name of the directory
  name: markupboy.com
  # the name of your system directory, which you may have customized
  ee_system: ee-system
  # the path to your new deployment directory on the server
  # by default, the name of the application (e.g. "/var/www/sites/example.com")
  deploy_to: /home/mbadmin/web/markupboy.com
  # the path to the old (non-capistrano) ExpressionEngine installation
  ee_previous_path: /home/mbadmin/web/public
  # the git-clone url for your repository
  repository: git@github.com:markupboy.com/markupboy.com.git
  # the branch you want to clone (default is master)
  branch: master
  # the name of the deployment user-account on the server
  user: mbadmin
  # the shared host to pull your remote assets and database from
  shared_host: markupboy.com

development_db: 
  adapter: mysql
  database: EE2_develpoment_db
  username: root
  password: 
  host: localhost

production_db:
  adapter: mysql
  database: EE2_production_db
  username: root
  password: 
  host: localhost
