development: 
  adapter: mysql
  database: EE2_develpoment_db
  username: root
  password: 
  host: localhost

production:
  adapter: mysql
  database: EE2_production_db
  username: root
  password: 
  host: localhost
