---
development:
  # your local development environment database settings
  local_db_settings:
    adapter: mysql
    database: gmmb_dev
    username: root
    password: 
    host: localhost

staging: 
  # the name of your website - should also be the name of the directory
  application: sample
  # the name of your system directory, which you may have customized
  ee_system: system
  # the path to your new deployment directory on the server
  # by default, the name of the application (e.g. "/var/www/sites/example.com")
  deploy_to: /var/www/html/sample/ee
  # the path to the old (non-capistrano) ExpressionEngine installation
  ee_previous_path: /var/www/html/sample/public
  # the git-clone url for your repository
  repository: git@sample.com
  # the branch you want to clone (default is master)
  branch: master
  # the name of the deployment user-account on the server
  user: apache
  # remote environment database settings
  remote_db_settings:
    adapter: mysql
    database: sample_db
    username: root
    password: 
    host: localhost

production:
  # the name of your website - should also be the name of the directory
  application: sample
  # the name of your system directory, which you may have customized
  ee_system: system
  # the path to your new deployment directory on the server
  # by default, the name of the application (e.g. "/var/www/sites/example.com")
  deploy_to: /var/www/html/sample/ee
  # the path to the old (non-capistrano) ExpressionEngine installation
  ee_previous_path: /var/www/html/sample/public
  # the git-clone url for your repository
  repository: git@sample.com
  # the branch you want to clone (default is master)
  branch: master
  # the name of the deployment user-account on the server
  user: apache
  # remote environment database settings
  remote_db_settings:
    adapter: mysql
    database: sample_db
    username: root
    password: 
    host: localhost