---
development:
  # your local development environment database settings
  local_db_settings:
    adapter: mysql
    database: gmmb_dev
    username: root
    password: 
    host: localhost

staging: 
  # the name of your website - should also be the name of the directory
  application: staging
  # the name of your system directory, which you may have customized
  ee_system: ee-system
  # the path to your new deployment directory on the server
  # by default, the name of the application (e.g. "/var/www/sites/example.com")
  deploy_to: /var/www/html/weknownext/ee2
  # the path to the old (non-capistrano) ExpressionEngine installation
  ee_previous_path: /var/www/html/weknownext/public
  # the git-clone url for your repository
  repository: git@viget.unfuddle.com:viget/gmmb.git
  # the branch you want to clone (default is master)
  branch: master
  # the name of the deployment user-account on the server
  user: apache
  # remote environment database settings
  remote_db_settings:
    adapter: mysql
    database: gmmb_weknownext
    username: staging
    password: 
    host: halethorpe5.lab.viget.com

production:
  # the name of your website - should also be the name of the directory
  application: weknownext.clients.viget.com
  # the name of your system directory, which you may have customized
  ee_system: ee-system
  # the path to your new deployment directory on the server
  # by default, the name of the application (e.g. "/var/www/sites/example.com")
  deploy_to: /var/www/html/weknownext/ee2
  # the path to the old (non-capistrano) ExpressionEngine installation
  ee_previous_path: /var/www/html/weknownext/public
  # the git-clone url for your repository
  repository: git@viget.unfuddle.com:viget/gmmb.git
  # the branch you want to clone (default is master)
  branch: master
  # the name of the deployment user-account on the server
  user: apache
  # remote environment database settings
  remote_db_settings:
    adapter: mysql
    database: gmmb_weknownext
    username: staging
    password: 
    host: halethorpe5.lab.viget.com